@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1440px;

  /* fonts */
  --font-poppins: "Poppins", sans-serif;

  /* colors */
  --background: #f1f1f1;
  --white: #fefefe;
  --blue: #7a98f9;
  --grey: #d4d4d4;
  --green: #49c4bc;
  --black: #2d2d2d;
  --lightgrey: #828181;
  --darkgrey: #676666;
}

.main {
  min-height: 100vh;
  max-width: var(--max-width);
  font-family: var(--font-poppins);
}
